* {
  font-family: 'Balsamiq Sans', cursive;
}

body {
  color: green;
  background: white;
}

a {
  color: blue;
  text-decoration: none;
  margin: .5rem;
}

.searchContainer {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: x-large;
}

form input {
  width: 60%;
  height: 75%;
  font-size: large;
  border: 1px solid green;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
}


