* {
  font-family: 'Balsamiq Sans', cursive;
}

body {
  color: green;
  background: white;
}

a {
  color: blue;
  text-decoration: none;
  margin: .5rem;
}

.searchContainer {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: x-large;
}

form input {
  width: 60%;
  height: 75%;
  font-size: large;
  border: 1px solid green;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

header {
  background-color: white;
  padding: 1rem;
}

header p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  font-size: xx-large;
}

header link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-size: large; 
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  font-size: xxx-large;
}

.logoContainer h1 {
  margin-right: 1rem;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.news-container {
  margin-left: 3rem;
  margin-right: 3rem;
}

.stats-container {
  margin-left: 3rem;
  margin-right: 3rem;
}

.stockPageH1 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.chart-container {
  margin-left: 3rem;
  margin-right: 3rem;
}

article {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article p {
  color: black;
}