.split {
  height: 100%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  width: 100%;
}

/* Control the left side */
.left {
  width: 50%;
  float: left;
}

/* Control the right side */
.right {
  width: 50%;
  margin-left: 50%;
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}




